@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Application.Dto.Payments.Results;

@using (Html.xpList(
	CampaignLineFactory.GetByServiceGroupName,
	CampaignLineFactory.GetByServiceGroupAllApi,
	"",
	"resources.campaignLine.getByServiceGroup",
	isTitleActive: true,
	initialSearch: true,
	showFormButtons: true,
	actions: new ActionLink[] {
		new ActionLink(ActionLink.ActionLinkType.Panel, CampaignLineFactory.AddServiceGroup("{{id}}"), XpIcons.Plus)
	},
	init: "scope.id=params.id;"
))
{
<div class="table-responsive">
    <table class="table table-hover" ng-show="data.length">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th translate="resources.campaignLine.serviceGroupName">Users groups</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in data">
                <td class="icon-column">
                    @XpColumns.IconColumn(
                    XpIcons.Trash,
                    popupUrl: CampaignLineFactory.RemoveServiceGroup,
                    id: "{{id}}",
                    arguments: "{\"serviceGroupId\":\"{{item.id}}\"}"
                    )
                </td>
                <td>@(Html.ColumnFor<CampaignLineGetByServiceGroupResult>(x => x.Name))</td>
            </tr>
        </tbody>
    </table>
</div>
}