@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Application.Dto.Payments.Results;

@using (Html.xpList(
	CampaignLineFactory.GetByProductName,
	CampaignLineFactory.GetByProductAllApi,
	"",
	"resources.campaignLine.getByProduct",
	isTitleActive: true,
	initialSearch: true,
	showFormButtons: true,
	actions: new ActionLink[] {
		new ActionLink(ActionLink.ActionLinkType.Panel, CampaignLineFactory.AddProduct("{{id}}"), XpIcons.Plus)
	},
	init: "scope.id=params.id;"
))
{
	<div class="table-responsive">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th translate="resources.campaignLine.productName">Products</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data">
					<td class="icon-column">
						@XpColumns.IconColumn(
							XpIcons.Trash,
							popupUrl: CampaignLineFactory.RemoveProduct,
							id: "{{id}}",
							arguments: "{\"productId\":\"{{item.id}}\"}"
						)
					</td><td>@(Html.ColumnFor<CampaignLineGetByProductResult>(x => x.Name))</td>
				</tr>
			</tbody>
		</table>
	</div>
}