@using PayIn.Application.Dto.Payments.Results.Shipment;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Common;
@using (Html.xpList(
	ShipmentFactory.ReceiptName,
	ShipmentFactory.ReceiptApi,
	"",
	"resources.shipment.receipt",
	isPaginable: false,
	isTitleActive: true,
	init: "scope.arguments.since='" + DateTime.Now.ToString("yyyy-MM-dd") + "';" + "scope.arguments.until='" + DateTime.Now.ToString("yyyy-MM-dd") + "';"
))
{
	<div class="table-responsive" data-ng-controller="ShipmentReceiptGetAllController">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th translate="resources.shipment.name">Name</th>
					<th translate="resources.shipment.amount">Login</th>
					<th translate="resources.shipment.since">Since</th>
					<th translate="resources.shipment.until">Until</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in data" data-ng-class="{'b-l b-5x b-success':item.paid===true,'b-l b-5x b-warning':item.paid === false, 'b-l b-5x b-danger': item.paid === false && item.finished === true}">
					<td>@(Html.ColumnFor<ShipmentGetAllResult>(x => x.Name))</td>
					<td>@(Html.ColumnFor<ShipmentGetAllResult>(x => x.Amount))</td>
					<td>@(Html.ColumnFor<ShipmentGetAllResult>(x => x.Since))</td>
					<td>@(Html.ColumnFor<ShipmentGetAllResult>(x => x.Until))</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div style="background-color:#27C24C;" class="legendGraph" /><p style="float:left;" translate="resources.shipment.paid">Pagado</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div style="background-color:#FAD733;" class="legendGraph" /><p style="float:left;" translate="resources.shipment.pending">Pendiente</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div style="background-color:#F05050;" class="legendGraph" /><p style="float:left;" translate="resources.shipment.lapsed">Caducado</p>
				</div>
			</div>
		</div>
	</footer>
}