@using PayIn.Web.App.Factories;

@using (Html.xpPopupPut(
	EventFactory.UpdateMapImageCropName,
	EventFactory.UpdateMapImageCrop,
	"",
	"resources.event.imageCrop",
	init: "scope.arguments.eventId = params.id",
	previous: "scope.arguments.mapUrl=scope.temp.avatar.image;"
))
{
	<div class="wrapper-md" xp-image-purse>
		<div class="hbox hbox-auto-xs">
			<div class="col">
				<div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
					<div class="bg-light" style="height:640px">
						<img-crop image="myImage"
							result-image="temp.avatar.image"
							result-image-size="{ h:600, w:400 }"
							area-type="rectangle"
							aspect-ratio="0.66"></img-crop>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="inline bg-white wrapper-sm b-a">
					<div class="bg-light">
						<img ng-src="{{temp.avatar.image}}" />
					</div>
				</div>
			</div>
		</div>
	</div>
}