@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPopupPut(
	EventFactory.Show,
	EventFactory.IsVisibleApi,
	"",
	"resources.event.show",
	init: "scope.arguments.isVisible=true;"
))
{
	<p translate="resources.event.showQuestion">Do you want to show this event?</p>
}
