@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Application.Dto.Payments.Results;

@using (Html.xpList(
	EntranceTypeFactory.GetAllGroupsName,
	EntranceTypeFactory.GetAllGroupsApi,
	"",
	"resources.entranceType.groupsByEntranceType",
	subtitle: "{{arguments.eventName}} - {{arguments.entranceTypeName}}",
	isTitleActive: true,
	initialSearch: true,
	isSearchable: false,
	actions: new ActionLink[] {
		new ActionLink(ActionLink.ActionLinkType.Panel, EntranceTypeFactory.AddGroup("{{id}}"), XpIcons.Plus)
	},
	init: "scope.id=params.id;"
))
{
	<div class="alert alert-info">
		<p>Para hacer que un tipo de entrada se pueda comprar sin limitaciones de grupos no se debe seleccionar ninguno.</p>
	</div>
	<td class="table-responsive">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th translate="resources.product.group">Group</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data">
					<td class="icon-column">
						@XpColumns.IconColumn(
							XpIcons.Trash,
							popupUrl: EntranceTypeFactory.RemoveGroup,
							id: "{{id}}",
							arguments: "{\"groupId\":\"{{item.id}}\"}"
						 )
					</td>
					<td>
						@(Html.ColumnFor<ProductGroupsGetAllResult>(x => x.Name))
					</td>
				</tr>
			</tbody>
		</table>
	</td>
}