<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="PayInDb"    xdt:Transform="SetAttributes" xdt:Locator="Match(name)" 
				 connectionString="Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayIn;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
		<add name="SecurityDb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" 
				 connectionString="Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInSecurity;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
		<add name="Files" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
				 connectionString="DefaultEndpointsProtocol=https;AccountName=payin;AccountKey=Sn3d3GUta6jNhUZxlD+DcLb4jiCHATpmjEuJsa/tcTBAp7EYCHHau9yAV8m/N3le+aS3PytaM/CqWwHrkavSdg==" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>