<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
	<add name="PayInDb"    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		connectionString="Server=tcp:vilamarxant.database.windows.net,1433;Database=PayIn;User ID=Administrador@vilamarxant;Password=Vila46marxant191;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
	<add name="SecurityDb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		connectionString="Server=tcp:vilamarxant.database.windows.net,1433;Database=PayInSecurity;User ID=Administrador@vilamarxant;Password=Vila46marxant191;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
	<add name="Files" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		connectionString="DefaultEndpointsProtocol=https;AccountName=vilamarxant;AccountKey=Ce9dOrxlc0RHP9Hx0dnBV1P7lidEm2y6d/VplX5v+1nIqcMi7ok3fdhSNBU9NAKShXKmSRSwuc2YDNrroxXAtw==;EndpointSuffix=core.windows.net" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />
  </connectionStrings>
  <system.web>
	<compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>