<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PayInDb"    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
      connectionString="Server=tcp:vinarosswat.database.windows.net,1433;Initial Catalog=VinarosDb;Persist Security Info=False;User ID=Administrador;Password=KUKUT456Estudio;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="SecurityDb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
      connectionString="Server=tcp:vinarosswat.database.windows.net,1433;Initial Catalog=VinarosDb;Persist Security Info=False;User ID=Administrador;Password=KUKUT456Estudio;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Files" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
      connectionString="DefaultEndpointsProtocol=https;AccountName=vinarosswat;AccountKey=WoW9ZkH0wvml5wyEAURjzGa81sYHKxYdTujSh3NtbmGkuhSQ/q/ConJGqoXG7eyjgUppy4RyKL9wF6v4BxDQ1Q==;EndpointSuffix=core.windows.net" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>