<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
	<add name="PayInDb"    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		connectionString="Server=tcp:carcaixent.database.windows.net,1433;Database=PayIn;User ID=Administrador@carcaixent;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
	<add name="SecurityDb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		connectionString="Server=tcp:carcaixent.database.windows.net,1433;Database=PayInSecurity;User ID=Administrador@carcaixent;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
	<add name="Files" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		connectionString="DefaultEndpointsProtocol=https;AccountName=carcaixent;AccountKey=PCxg2pFH75mFAIenwgkju0LLh/IHDeChDvPZnxSMIYAoMMSHx1Ct/XBSH0T5Omw5AP3ngpDbymknTzZUFhfoYA==;EndpointSuffix=core.windows.net" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />
  </connectionStrings>
  <system.web>
	<compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>