<?xml version="1.0" encoding="utf-8"?>
<!--
update-database -ConnectionProviderName "System.Data.SqlClient" -verbose -ConnectionString "Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayIn;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
update-database -ConnectionProviderName "System.Data.SqlClient" -verbose -ConnectionString "Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInTest;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
update-database -ConnectionProviderName "System.Data.SqlClient" -verbose -ConnectionString "Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInHomo;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"

update-database -ConnectionProviderName "System.Data.SqlClient" -verbose -ConnectionString "Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInSecurity;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
update-database -ConnectionProviderName "System.Data.SqlClient" -verbose -ConnectionString "Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInSecurityTest;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
update-database -ConnectionProviderName "System.Data.SqlClient" -verbose -ConnectionString "Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInSecurityHomo;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"

update-database -ConnectionProviderName "System.Data.SqlClient" -verbose -ConnectionString "Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInInternal;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
update-database -ConnectionProviderName "System.Data.SqlClient" -verbose -ConnectionString "Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInInternalTest;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
update-database -ConnectionProviderName "System.Data.SqlClient" -verbose -ConnectionString "Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInInternalHomo;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
-->
<configuration>
  <configSections>
    <!-- For more  information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PayInDb;Integrated Security=True;MultipleActiveResultSets=True" />-->

    <!-- LOCAL SQLEXPRESS -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PayInDb;Integrated Security=True;MultipleActiveResultSets=True" />-->
	  <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PayInSecurityDb;Integrated Security=True;MultipleActiveResultSets=True" />-->
    <!--<add name="Files" connectionString="DefaultEndpointsProtocol=https;AccountName=payinstorageaccount;AccountKey=VK/93NkkLqQoGwBUUVcFUZWUjqBgY9HdJBP0Fo+SJi14wctfmg4Ksy821gk03idYAVnk0j/6YaZIjQImjp1/hw==" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />-->
    <!-- LOCAL -->
    <add name="PayInDb" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\mssqllocaldb;Initial Catalog=PayInDb;Integrated Security=SSPI; MultipleActiveResultSets=True" />
    <add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\mssqllocaldb;Initial Catalog=PayInDb;Integrated Security=SSPI; MultipleActiveResultSets=True" />
    <add name="Files" connectionString="DefaultEndpointsProtocol=https;AccountName=payinstorageaccount;AccountKey=VK/93NkkLqQoGwBUUVcFUZWUjqBgY9HdJBP0Fo+SJi14wctfmg4Ksy821gk03idYAVnk0j/6YaZIjQImjp1/hw==" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />
    <!-- CLOUD -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=payin2;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=payinsecurity;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="Files" connectionString="DefaultEndpointsProtocol=https;AccountName=payinstorageaccount;AccountKey=VK/93NkkLqQoGwBUUVcFUZWUjqBgY9HdJBP0Fo+SJi14wctfmg4Ksy821gk03idYAVnk0j/6YaZIjQImjp1/hw==" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />-->
    <!-- VILAMARXANT -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Server=tcp:vilamarxant.database.windows.net,1433;Database=PayIn;User ID=Administrador@vilamarxant;Password=Vila46marxant191;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:vilamarxant.database.windows.net,1433;Database=PayInSecurity;User ID=Administrador@vilamarxant;Password=Vila46marxant191;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="Files" connectionString="DefaultEndpointsProtocol=https;AccountName=vilamarxant;AccountKey=Ce9dOrxlc0RHP9Hx0dnBV1P7lidEm2y6d/VplX5v+1nIqcMi7ok3fdhSNBU9NAKShXKmSRSwuc2YDNrroxXAtw==;EndpointSuffix=core.windows.net" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />-->
    <!-- CARCAIXENT -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Server=tcp:carcaixent.database.windows.net,1433;Database=PayIn;User ID=Administrador@carcaixent;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:carcaixent.database.windows.net,1433;Database=PayInSecurity;User ID=Administrador@carcaixent;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="Files" connectionString="DefaultEndpointsProtocol=https;AccountName=carcaixent;AccountKey=PCxg2pFH75mFAIenwgkju0LLh/IHDeChDvPZnxSMIYAoMMSHx1Ct/XBSH0T5Omw5AP3ngpDbymknTzZUFhfoYA==;EndpointSuffix=core.windows.net" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />-->
    <!-- FAURA -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Server=tcp:faura.database.windows.net,1433;Database=PayIn;User ID=Administrador@faura;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:faura.database.windows.net,1433;Database=PayInSecurity;User ID=Administrador@faura;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="Files" connectionString="DefaultEndpointsProtocol=https;AccountName=faura;AccountKey=fNG1ZNmnr2xoGoN1IJouXox5N6euBHJnOPYrsccT7BXnIG17ebhu4IGV9j7sPRiGgBfgkAIHMWs+NVPM2B5Y8Q==;EndpointSuffix=core.windows.net" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />-->
    <!-- FINESTRAT -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Server=tcp:finestratpayin.database.windows.net,1433;Initial Catalog=FinestratDb;Persist Security Info=False;User ID=Administrador;Password=KUKUT456Estudio;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:finestratpayin.database.windows.net,1433;Initial Catalog=FinestratDb;Persist Security Info=False;User ID=Administrador;Password=KUKUT456Estudio;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <!--<add name="Files" connectionString="DefaultEndpointsProtocol=https;AccountName=finestratpayin;AccountKey=5+co1R95mntFxnvBokbzlpNdJgEQEgh/JTXRLXEfF64XzI0QbsHMX0tOvUMHz7D+D65SJYBdE5tXf3x8M4P6Xw==;EndpointSuffix=core.windows.net" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />-->
    <!-- VINAROS -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Server=tcp:vinarosswat.database.windows.net,1433;Initial Catalog=VinarosDb;Persist Security Info=False;User ID=Administrador;Password=KUKUT456Estudio;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:vinarosswat.database.windows.net,1433;Initial Catalog=VinarosDb;Persist Security Info=False;User ID=Administrador;Password=KUKUT456Estudio;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <!--<add name="Files" connectionString="DefaultEndpointsProtocol=https;AccountName=vinarosswat;AccountKey=WoW9ZkH0wvml5wyEAURjzGa81sYHKxYdTujSh3NtbmGkuhSQ/q/ConJGqoXG7eyjgUppy4RyKL9wF6v4BxDQ1Q==;EndpointSuffix=core.windows.net" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />-->
    <!-- JUSTMONEY -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Server=tcp:justmoney.database.windows.net,1433;Database=PayIn;User ID=Administrador@justmoney;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:justmoney.database.windows.net,1433;Database=PayInSecurity;User ID=Administrador@justmoney;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!-- FALLAS -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Server=tcp:fallas.database.windows.net,1433;Database=PayIn;User ID=Administrador@fallas;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:fallas.database.windows.net,1433;Database=PayInSecurity;User ID=Administrador@fallas;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!-- TEST -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInTest;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInSecurityTest;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="Files" connectionString="DefaultEndpointsProtocol=https;AccountName=payintest;AccountKey=Gu/Mg1gxhdHsFsRKSCcLy13l0FqSfjyrpNpsUObQFIWoe2zSnSU8Otxk3NvNBmU7ahbmDQTdTl1EjGm1njTbAw==" providerName="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" />-->
    <!-- HOMO -->
    <!--<add name="PayInDb"    providerName="System.Data.SqlClient" connectionString="Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInHomo;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="SecurityDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayInSecurityHomo;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="apiUrl" value="" />
    <add key="pageSize" value="12" />
    <add key="columns" value="3" />
    <!-- ClientId and ClientSecret refer to the web application registration with Azure Active Directory -->
    <add key="HSMClientSecret" value="qPhMS0032K3UmEvU8JSJKiwAyZwOa5lyNPvc3CsF8EA=" />
    <add key="HSMClientId" value="8da8dc92-725a-4efb-9ecf-59b2e24b6ef0" />
    <!-- SecretUri is the URI for the secret in Azure Key Vault -->
    <add key="HSMKeyVaultUrl" value="https://payin.vault.azure.net/" />
    <add key="KeyUrl" value="https://payin.vault.azure.net:443/keys/RSAPayInKey" />
    <!--<add key="MobileKey_Eige" value="https://payin.vault.azure.net:443/keys/KekMobilePayin" />-->
    <add key="MobileKey_Eige" value="https://payin.vault.azure.net:443/keys/KekMobilePayin/190e386e11ea41bda618b62c0a75dcd3" />

    <add key="MobileKey_Fgv" value="https://payin.vault.azure.net:443/keys/KekMobileFgv" />
    <!-- EIGE Secrets URIs-->
    <add key="Secret_Eige" value="https://payin.vault.azure.net:443/secrets/SecretTsmMobilis" />
    <add key="Secret_FgvAlicante" value="https://payin.vault.azure.net:443/secrets/SecretTsmFgvAlicante" />
    <add key="Secret_Philips" value="https://payin.vault.azure.net:443/secrets/SecretTsmPhilipsFull/f6e38ca0468a4bfe9671528422f4f4c1" />
    <add key="Secret_Vilamarxant" value="https://payin.vault.azure.net:443/secrets/SecretTsmVilamarxantFull/27afdb35229c495cba942c28c9ac77b2" />
    <!-- Sentilo Data -->
    <add key="Sentilo_Host" value="sentilo.dival.es:8081" />
    <add key="Sentilo_Identity_Key" value="959728b5e5e3ecffb58e31105b6c5a96c61634e8b6164c0e9efea80d0d7e4d6b" />
    <add key="Sentilo_Provider" value="vinaros@swat" />
    <add key="Sentilo_Temperature" value="METEOVINSWTC01S01" />
    <add key="Sentilo_Humidity" value="METEOVINSWTC01S02" />
    <add key="Sentilo_Wind_Speed" value="METEOVINSWTC01S05" />
    <add key="Sentilo_Wind_Direction" value="METEOVINSWTC01S06" />
    <add key="Sentilo_Pressure" value="METEOVINSWTC01S03" />
    <add key="Sentilo_UV_Index" value="METEOVINSWTC01S08" />
    <add key="Sentilo_Radiation" value="METEOVINSWTC01S07" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--Application Insights: add System.Runtime assembly to resolve PCL dependencies-->
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <!-- Aumengar el tamaño del de las requests en kB => 25MB -->
    <httpRuntime maxRequestLength="25600" targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <machineKey decryption="AES" decryptionKey="8E450FED5821BB33EEE88544BDA568B3A25D30040F6DAA4CCBD4833B750AC37C" validation="SHA1" validationKey="0C43F800C33302E89821BA91289D51CE7B7ADA63435879FA1CE6FD0EFC8EED6BC4248426DB1373F9B4D0148F1E71C2A98776F65558A71113AC35A411A8FB404E" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.24.0" newVersion="1.1.24.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20511.1437" newVersion="4.0.20511.1437" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>