<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--<connectionStrings>
		<add name="PayInDb" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayIn;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
		<add name="DefaultConnection" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Server=tcp:zlrvxl41ab.database.windows.net,1433;Database=PayIn;User ID=Administrador@zlrvxl41ab;Password=Payin2014!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
	</connectionStrings>-->
	<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
