<div xp-panel ng-init="app.selectedPage='prepaidcardaddcard'">
	<h1>Solicitar tarjeta adicional</h1>
	<div class="verticalSpacer"><br /></div>

	<!-- Buttons -->
	<div class="buttonRowLoadFunds">
		<button type="submit" class="orangeButton orangeButtonLoadFunds" ui-sref="prepaidcardcreatecard" xp-navigate ng-disabled="_windowState.isBusy">Solicitar nueva tarjeta</button>
	</div>
	<div class="buttonRowLoadFunds">
		<button type="submit" class="orangeButton orangeButtonLoadFunds" ui-sref="prepaidcardregistercard" xp-navigate ng-disabled="_windowState.isBusy">Registrar tarjeta autorizada</button>
	</div>
</div>
