<div xp-panel ng-init="app.selectedPage='prepaidcardpointsofrecharge'">
		<h1>Puntos de recarga</h1>
		<!-- Errors -->
		@*<div class="alert alert-danger" role="alert" ng-show="errors.length" ng-cloak>
			<ul>
				<li ng-repeat="error in errors">{{error}}</li>
			</ul>
		</div>*@
		<h6>
			Puedes recargar tu tarjeta en cualquiera de los siguientes establecimientos:
		</h6>
</div>
