@using PayIn.Application.Dto.Payments.Arguments;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using (Html.xpPut(
				ProductFactory.VisibilityName,
				ProductFactory.VisibilityApi,
				"",
				"resources.product.visibilityProduct"
			))
{
	<xp-get data-api="@ProductFactory.VisibilityApi">
		<div class="panel-body">
			<div class="col-md-12">
				<div class="row">
					<div class="row">
						@(Html.ArgumentFor<ProductVisibilityArguments>(x => x.Visibility))
					</div>
				</div>
			</div>
		</div>
	</xp-get>
}
