@using PayIn.Web.App.Factories;

@using (Html.xpPopupPut(
	SystemCardFactory.UpdateImageCropName,
	SystemCardFactory.UpdateImageCrop,
	"",
	"resources.systemCard.imageCrop",
	init: "scope.arguments.systemCardId = params.id",
	previous: "scope.arguments.photoUrl=scope.temp.avatar.image;"
))
{
	<div class="wrapper-md" xp-image-purse>
		<div class="hbox hbox-auto-xs">
			<div class="col">
				<div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
					<div class="bg-light" style="height:240px">
						<img-crop image="myImage"
							result-image="temp.avatar.image"
							result-image-size="{ w:360, h:240 }"
							area-type="rectangle"
							aspect-ratio="2"></img-crop>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="inline bg-white wrapper-sm b-a">
					<div class="bg-light">
						<img ng-src="{{temp.avatar.image}}" />
					</div>
				</div>
			</div>
		</div>
	</div>
}