@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPopupDelete(
	TransportCardSupportTitleCompatibilityFactory.Delete,
	TransportCardSupportTitleCompatibilityFactory.DeleteApi,
	"",
	"resources.transportCardSupportTitleCompatibility.delete",
	id: "id"
))
{
	<p translate="resources.transportCardSupportTitleCompatibility.deleteQuestion" translate-values="{ name: '{{arguments.name}}' }">Do you want to delete the compatibility with this card support {{arguments.name}}?</p>
}

