@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Application.Dto.Results;

@using (Html.xpList(
				ControlFormOptionFactory.GetAllName,
				ControlFormOptionFactory.GetAllApi,
				"",
				"resources.controlFormOption.retrieveAll",
				"",
				isTitleActive: true,
				initialSearch: true,
				showFormButtons: true,
				actions: new ActionLink[] {
		new ActionLink(ActionLink.ActionLinkType.Panel, ControlFormOptionFactory.Create("{{arguments.argumentId}}"), XpIcons.Plus)
				},
				init: "scope.arguments.argumentId=params.id;"
			))
{
	<div class="table-responsive">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th translate="resources.controlFormOption.text">Text</th>
					<th translate="resources.controlFormOption.value">Value</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data" ng-hide="item.state===0">
					<td class="icon-column">
						@XpColumns.IconColumn(
							XpIcons.Trash,
							popupUrl: ControlFormOptionFactory.Delete,
							id: "{{item.id}}",
							arguments: "{\"name\":\"{{item.name}}\"}"
						)
					</td>
					<td>@(Html.ColumnFor<ControlFormOptionGetResult>(x => x.Text, panelUrl: ControlFormOptionFactory.UpdateName, id: "{{item.id}}"))</td>
					<td>@(Html.ColumnFor<ControlFormOptionGetResult>(x => x.Value, panelUrl: ControlFormOptionFactory.UpdateName, id: "{{item.id}}"))</td>
				</tr>
			</tbody>
		</table>
	</div>
}
