@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using (Html.xpPopupPut(
	PaymentWorkerFactory.ResendNotification,
	PaymentWorkerFactory.ResendNotificationApi,
	"",
	"resources.paymentWorker.resendNotification"
))
{
	<p translate="resources.paymentWorker.resendNotificationQuestion" translate-values="{ name: '{{arguments.name}}' }">Do you want to reassign the payment worker {{arguments.name}}?</p>
}
