@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPopupPut(
	ProductFamilyFactory.Show,
	ProductFamilyFactory.IsVisibleApi,
	"",
	"resources.productFamily.show",
	init: "scope.arguments.isVisible=true;"
))
{
	<p translate="resources.productFamily.showQuestion">Do you want to show this family?</p>
}
