<div xp-popup xp-title="Info">
    <div class="modal-header">
        <h3 class="modal-title" translate="resources.accessControl.info.info">Information<small class="xp-subtitle"></small></h3>
    </div>
    <div class="modal-body">
        <p><strong translate="resources.accessControl.info.phone">Phone number</strong>: 964 453 334</p>
        <p><strong translate="resources.accessControl.info.email">Email</strong>: <a class="inline-link" href="mailto:vinaros@touristinfo.net">vinaros@touristinfo.net</a></p>
        <p><strong translate="resources.accessControl.info.address">Dirección</strong>: Passeig de Colom, s/n</p>
        <p>12500 Vinaròs, Castelló</p>
        <p><strong translate="resources.accessControl.info.web">Web</strong>: <a class="inline-link" href="http://turisme.vinaros.es">turisme.vinaros.es</a></p>
        <p><strong translate="resources.accessControl.info.developed">Desarrollado por</strong>: <a class="inline-link" href="http://swat-id.com/">SWAT-ID</a> </p>
        <img class="places-top-logo mb-1" src="~/App/vinaros.png" alt="Logo Turisme Vinaròs"></img>
        <img class="places-top-logo mb-1" src="~/App/vinaros-smart.png" alt="Logo Vinaròs Smart Tourism"></img>
        <img class="places-top-logo mb-1 mt-2" src="~/App/turisme-intel.png" alt="Logo Red de Destinos Turísticos Inteligentes"></img>
    </div>
    <div class="modal-footer">
        <img src="~/App/spinner.gif" style="margin: 2px 5px 0 0" ng-show="windowState().isBusy" />
        <button type="button" class="btn btn-default" data-dismiss="modal" translate="resources.globalResources.close">Close</button>
    </div>
</div>
