<script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/functions.js"></script>

@{
	Layout = "~/Views/Shared/_Authentication.cshtml";
}

<div class="container w-xxl w-auto-xs">
	<img src="/app/escudo_vilamarxant.png" alt="Turisme Vilamarxant" class="navbar-brand block m-t" style="margin:auto; height: auto;" />
	<div class="m-b-lg">
		<div id="container">
			<div class="wrapper text-center">
				<strong translate="resources.security.confirmedEmail">Email confirmed successfuly</strong>
			</div>
			<div ng-show="!arguments.code" class="wrapper">
				<span translate="resources.security.ConfirmedEmailText_Vilamarxant">Thanks for registering APP Turisme Vilamarxant system. Now you can close this navigator and go back to the app to start using it.</span>
			</div>
		</div>
	</div>
	@*
	<div class="btn-group btn-group-justified">
		<div class="btn-group" style="cursor: not-allowed;">
			<a class="btn btn-default" href="" onclick="window.open('payin://', '_blank');" style="pointer-events: none; text-decoration: none;" >@SecurityResources.OpenSessionApp</a>
		</div>
		<div class="btn-group">
			@Html.ActionLink(@SecurityResources.OpenSessionWeb, "Login", "Account", null, new { @class = "btn btn-default" })
		</div>
	</div>
	*@
</div>
