@using PayIn.Application.Dto.Results.ServiceWorker;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Common;

@using (Html.xpList(
	ServiceWorkerFactory.GetControl,
	ServiceWorkerFactory.GetControlApi,
	"",
	//ServiceWorkerResources.GetAll,
	"resources.serviceWorker.getAll",
	isPaginable: false,
	isTitleActive: true
))
{
	<div class="table-responsive">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th translate="resources.serviceWorker.name">Name</th>
					<th translate="resources.serviceWorker.login">Login</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in data">
					<td>@(Html.ColumnFor<ServiceWorkerGetAllResult>(x => x.Name,  panelUrl: ServiceWorkerFactory.WorkerUpdateName, id: "{{item.id}}"))</td>
					<td>@(Html.ColumnFor<ServiceWorkerGetAllResult>(x => x.Login, panelUrl: ServiceWorkerFactory.WorkerUpdateName, id: "{{item.id}}"))</td>
					<td class="icon-column">
						@XpColumns.IconColumn(XpIcons.Graph, panelUrl: ControlPresenceFactory.GetGraphName + "({workerId:{{item.id}}})", id: "{{item.id}}")
					</td>
					<td class="icon-column">
						@XpColumns.IconColumn(XpIcons.Calendar, panelUrl: ControlPlanningFactory.GetAllName + "({workerId:{{item.id}}})", id: "{{item.id}}")
					</td>
				</tr>
			</tbody>
		</table>
	</div>
}