<div xp-panel ng-init="app.selectedPage='';" ng-cloak>
    <xp-post api="JustMoney/Api/Account/ConfirmForgotPassword"
             xp-success-url="/Account/Login"
             xp-init="
                scope.arguments = params;
             ">
        <h1>Contraseña perdida</h1>
        <div class="spinner" ng-show="_windowState.isBusy" style="width: 40px;
                                                                        height: 40px;
                                                                        position: absolute;
                                                                        right: 50px;">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>

        <p>Establece tu nueva contraseña</p>

        <form name="form" role="form" ng-submit="accept()">
            <div class="list-group list-group-sm">
                <div id="divPassword" class="list-group-item">
                    <div>
                        <input type="password" name="password" placeholder="Contraseña" class="form-control no-border" ng-model="arguments.password" required ng-disabled="_windowState.isBusy">
                    </div>
                </div>
                <div id="divConfirmPassword" class="list-group-item">
                    <div>
                        <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" class="form-control no-border" ng-model="arguments.confirmPassword" required ng-disabled="_windowState.isBusy">
                    </div>
                </div>
            </div>
            <div class="orangeSingleButtonsDiv">
                <button type="submit" class="orangeButton" translate="resources.security.setNewPassword" ng-disabled="_windowState.isBusy">Establecer contraseña</button>
            </div>
        </form>
    </xp-post>

    @*<div class="m-b-lg">
            <div>arguments: {{arguments}}</div>
            <div>params: {{params}}</div>
            @using (Html.BeginForm("ConfirmForgotPassword", "JustMoney/Api/Account", "", FormMethod.Post, new { @class = "form", role = "form" }))
            {
                <h1>Contraseña perdida</h1>

                <p>¿Ha perdido la contraseña?</p>
                <p>¿Desea establecer una nueva?</p>

                <div class="spinner" ng-show="_windowState.isBusy" style="width: 40px;
                                                                    height: 40px;
                                                                    position: absolute;
                                                                    right: 50px;">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>

                <div class="list-group list-group-sm">
                    <div id="divUserId" class="hide">
                        <div><input type="text" name="userId" ng-model="arguments.userId" ng-disabled="_windowState.isBusy"></div>
                    </div>
                    <div id="divCode" class="hide">
                        <div><input type="text" name="code" ng-model="arguments.code" ng-disabled="_windowState.isBusy"></div>
                    </div>
                    <div id="divPassword" class="list-group-item">
                        <div>
                            <input type="password" name="password" placeholder="Contraseña" class="form-control no-border" ng-model="arguments.password" required ng-disabled="_windowState.isBusy">
                        </div>
                    </div>
                    <div id="divConfirmPassword" class="list-group-item">
                        <div>
                            <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" class="form-control no-border" ng-model="arguments.confirmPassword" required ng-disabled="_windowState.isBusy">
                        </div>
                    </div>
                </div>
                <button id="submitbtn" class="btn btn-lg btn-orange btn-block" type="submit" ng-disabled="_windowState.isBusy">Establecer contraseña</button>
            }
        </div>*@
</div>