@using PayIn.Common.Security;

<div xp-panel ng-init="app.selectedPage='';" ng-cloak>
    <xp-post api="JustMoney/Api/Account/ForgotPassword"
             xp-success-url="/Account/Login"
             xp-init="
                scope.arguments = params;
             ">
        <h1>Contraseña perdida</h1>
        <div class="spinner" ng-show="_windowState.isBusy" style="width: 40px;
                                                                height: 40px;
                                                                position: absolute;
                                                                right: 50px;">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>

        <p>¿Has perdido la contraseña?</p>
        <p>¿Deseas establecer una nueva?</p>

        <form name="form" role="form" ng-submit="accept()">
            <div class="list-group list-group-sm">
                <div id="divEmail" class="list-group-item">
                    <div>
                        <label for="email">Escribe tu dirección e-mail</label>
                        <input type="email" name="email" placeholder="Email" class="form-control no-border" ng-model="arguments.email" required ng-disabled="_windowState.isBusy">
                    </div>
                </div>
            </div>
            <div class="orangeSingleButtonsDiv">
                <button type="submit" class="orangeButton" translate="resources.security.recover" ng-disabled="_windowState.isBusy">Recuperar</button>
            </div>
            <div class="text-center m-t m-b">
                <a href="#/Account/Login">Recuerdo la contraseña</a>
            </div>
        </form>





        @*@using (Html.BeginForm("ForgotPassword", "JustMoney/Api/Account", "", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            <h1>Contraseña perdida</h1>

            <p>¿Has perdido la contraseña?</p>
            <p>¿Deseas establecer una nueva?</p>

            <div class="spinner" ng-show="_windowState.isBusy" style="width: 40px;
                                                                height: 40px;
                                                                position: absolute;
                                                                right: 50px;">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>

            <div class="list-group list-group-sm">
                <div id="divEmail" class="list-group-item">
                    <div>
                        <input type="email" name="email" placeholder="Email" class="form-control no-border" ng-model="arguments.email" required ng-disabled="_windowState.isBusy">
                    </div>
                </div>
            </div>
            <div class="orangeSingleButtonsDiv">
                <button id="submitbtn" class="orangeButton" type="submit" translate="resources.security.recover" ng-disabled="_windowState.isBusy">Recuperar</button>
            </div>

            <div class="text-center m-t m-b">
                <a href="/#/Account/Login">Recuerdo la contraseña</a>
            </div>
        }*@
</div>