@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using (Html.xpPopupDelete(
	ControlFormFactory.Delete,
	ControlFormFactory.DeleteApi,
	"",
	//ControlFormResources.Delete,
	"resources.controlForm.delete",
	id: "id"
))
{
	<p translate="resources.controlForm.deleteQuestion" translate-values="{ name: '{{arguments.name}}' }">Do you want to delete the form {{arguments.name}}?</p>
}
