@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPopupDelete(
	ControlPresenceFactory.Delete,
	ControlPresenceFactory.DeleteApi,
	"",
	//ControlPresenceResources.Delete,
	"resources.controlPresence.delete",
	id: "id"
))
{
	<p translate="resources.controlPresence.deleteQuestion">Do you want to delete the Tag?</p>
}

