@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPopupDelete(
	TransportTitleFactory.Delete,
	TransportTitleFactory.DeleteApi,
	"",
	"resources.transportTitle.delete",
	id: "id"
))
{
	<p translate="resources.transportTitle.deleteQuestion" translate-values="{ name: '{{arguments.name}}' }">Do you want to delete the transport title {{arguments.name}}?</p>
}

