@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPopupDelete(
	ServiceDocumentFactory.DeleteName,
	ServiceDocumentFactory.DeleteApi,
	"",
	"resources.serviceDocument.delete",
	id: "id"
))
{
	<p translate="resources.serviceDocument.deleteQuestion" translate-values="{ name: '{{arguments.name}}' }">Do you want to delete document '{{arguments.name}}'?</p>
}

