@using PayIn.Application.Dto.Results.ControlFormAssignCheckPoint;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;

@using (Html.xpList(
	ControlFormAssignCheckPointFactory.GetCheckStateName,
	ControlFormAssignCheckPointFactory.GetCheckApi,
	"",
	//ControlFormAssignCheckPointResources.GetForm,
	"resources.controlFormAssignCheckPoin.getForm",
	"{{arguments.checkPointName}}",
	isPaginable: false,
	isTitleActive: true,
	init: "scope.arguments.checkId = params.checkId;",
	actions: new ActionLink[] {
		new ActionLink(ActionLink.ActionLinkType.Panel, ControlFormAssignCheckPointFactory.CreateState("{{$stateParams.checkId}}"), XpIcons.Plus)
	}
))
{
	<div class="table-responsive">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th translate="resources.controlFormAssignCheckPoint.form">Form</th>
					<th translate="resources.controlFormAssignCheckPoint.arguments">Arguments</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in data">
					<td class="icon-column">
						@XpColumns.IconColumn(
							XpIcons.Trash,
				            popupUrl: ControlFormAssignCheckPointFactory.DeleteStateName,
							id: "{{item.id}}",
					        arguments: "{\"formName\":\"{{item.formName}}\",\"checkPointName\":\"{{item.checkPointName}}\"}"  //
						)
					</td>
					<td>@(Html.ColumnFor<ControlFormAssignCheckPointGetCheckResult>(x => x.FormName))
					<td class="table-column">
						<table class="table table-hover">
							<tbody>
								<tr ng-repeat="argument in item.arguments">
									<td>{{argument.name}}</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
}
