@using PayIn.Application.Dto.Payments.Results.PaymentConcessionCampaign;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Common;

@using (Html.xpList(
	PaymentConcessionCampaignFactory.GetAll,
	PaymentConcessionCampaignFactory.GetAllApi,
	"",
	"resources.paymentConcessionCampaign.getAll",
	isPaginable: false,
	isTitleActive: true,	
	init: "scope.id=params.id",
	//addPanelUrl: PaymentConcessionCampaignFactory.CreateName
	actions: new ActionLink[] {
		new ActionLink(ActionLink.ActionLinkType.Panel, PaymentConcessionCampaignFactory.CreateName + "({id:{{$stateParams.id}}})", XpIcons.Plus)
	}
))
{	
	<div class="table-responsive">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>	
					<th translate="resources.paymentUser.name">Name</th>								
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in data" data-ng-class="{'b-l b-5x b-success':item.state === 1,'b-l b-5x b-danger':item.state === 0,'b-l b-5x b-warning':item.state===2}">
					<td ng-show="item.state == 1" style="width:25px">&nbsp;</td>
					<td class="icon-column" ng-hide="item.state === 1">
						@XpColumns.IconColumn(
							XpIcons.Resend,
			                popupUrl: PaymentConcessionCampaignFactory.ResendNotification,
							id: "{{item.id}}",
			                arguments: "{\"name\":\"{{item.paymentConcessionName}}\"}"
						)
					</td>
					<td ng-hide="!item.isOwner && (item.state === 1 || item.state == 2)" style="width:25px">&nbsp;</td>	
					<td class="icon-column " ng-show="!item.isOwner && (item.state === 1 || item.state === 2)">
						@XpColumns.IconColumn(
							XpIcons.Trash,
							popupUrl: PaymentConcessionCampaignFactory.Delete,
							id: "{{item.id}}",
							arguments: "{\"name\":\"{{item.paymentConcession}}\"}"
						)
					</td>			
					<td>@(Html.ColumnFor<PaymentConcessionCampaignGetAllResult>(x => x.PaymentConcessionName))</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div style="background-color:#27C24C;" class="legendGraph" /><p style="float:left;" translate="resources.paymentUser.accepted">Accepted</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div style="background-color:#FAD733;" class="legendGraph" /><p style="float:left;" translate="resources.paymentUser.pending">Pending</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div style="background-color:#F05050;" class="legendGraph" /><p style="float:left;" translate="resources.paymentUser.unsuscribed">Deleted</p>
				</div>
			</div>
		</div>
	</footer>
}

