<div>
	<h1>Mi Cuenta</h1>
	<div>
		<h2>Detalles de la cuenta</h2>
		<div class="container-fluid">
			<div class="row mb-3">
				<label for="balance" class="col-sm-4">Saldo tarjeta</label>
				<div class="col-sm-6" readonly>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row mb-3">
				<label for="cardNumber" class="col-sm-4">Número de tarjeta</label>
				<div class="col-sm-6" readonly>
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="row mb-3">
				<label for="userNumber" class="col-sm-4">Número de identificación del titular</label>
				<div class="col-sm-6" readonly>
					<input type="text" class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>